<!DOCTYPE html>
<html>
<head>
	<title>New</title>
</head>
<body>

<form method="POST" action="/new">
<p>
	<input type="text" name="firstname" placeholder="First Name" value="<%= userInfo.firstname %>" />
</p>
<p>
	<input type="text" name="lastname" placeholder="Last Name" value="<%= userInfo.lastname %>" />
</p>
<p>
	<input type="text" name="username" placeholder="Username" value="<%= userInfo.username %> />
</p>
<p>
	<input type="text" name="age" placeholder="Age" value="<%= userInfo.age %> />
</p>
<p>
	<button type="submit"> Submit User</button>
</p>
</form>

</body>
</html>