<!DOCTYPE html>
<html>
<head>
	<title>New</title>
</head>
<body>

<form method="POST" action="/new">
<p>
	<input type="text" name="firstname" placeholder="First Name" />
</p>
<p>
	<input type="text" name="lastname" placeholder="Last Name"/>
</p>
<p>
	<input type="text" name="username" placeholder="Username"/>
</p>
<p>
	<input type="text" name="age" placeholder="Age"/>
</p>
<p>
	<button type="submit"> Submit User</button>
</p>
</form>

</body>
</html>